Package: com.merona.decryptbinaryios9
Name: decryptBinary
Version: 1.0
Architecture: iphoneos-arm
Description: iOS app binary & IPA decryption tool.
Maintainer: merona
Author: merona
Section: System
Tag: role::developer, purpose::security
Depends: mobilesubstrate, firmware (>= 9.0), zip
